html {
  background-color: rgb(65, 112, 213);
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  height: 100%;
  width: 100%; 
}

a{
  font-style: normal;
  color: black;
  text-decoration: none;
}
html{
  font-size: 20px;
  color: white;
  background-color: red;
}

#titulo{
  color: red;
}